/* You can add global styles to this file, and also import other style files */
@import 'ui-lib-styles/bootstrap.scss';
.component-title {
    background-color:yellow;
    padding: 5px; 
    text-align:center;
}